/** @format */

html {
    font-family: Arial, Helvetica, sans-serif;
    background: #fcbad3;
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}
img{
    margin:auto;
    display:block;
    max-width: 930px;
    max-height:600px;
}
body {
    border-radius: 15px;

    max-width: 960px;
    margin: 0 auto;
    background: #ffffd2;
}
h1,h2 {
    color: darkslateblue;
    margin: 1rem 0;
}
h1{
    font-size: 2em;
}

a {
    color: #03256c;
}
article{
    background-color:aliceblue;
    padding: 0em 0em 0.5em 0em;
    border-radius: 5px;
}
header{
  background: #aa96da;
  border-radius: 5px;
  max-width: 960px;
}
hr {
    border: none;
}
label {
    color:darkslateblue;
    font-size: 1.5em;
}
nav {
    border-radius: 15px 15px 0px 0px;
    background: #a8d8ea;
    display: flex;
    align-items: center;
    color:darkslateblue;
    padding: 0.75rem 1rem;
}
span{
    font-size: 1.5em;
}
nav h1 {
    flex: auto;
    padding-left: 0.15em;
    margin: 0;
}
nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin:auto;

}
nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem 0.75rem;
    margin:auto;
}
article{
    margin: 1em 0.75em 1em 0.75em;
}
#new{
    margin:1rem;
    text-align: center;
    font-size: 1.5em;
}
#tilde{
    font-size: 1.5em;
}
.content {
    padding: 0 1rem 1rem;
}
.content > header {
    border-bottom: 1px solid thistle;
    display: flex;
    margin-top: 13px;
    align-items: flex-end;
}
.content > header h1 {
    flex: auto;
    text-align: center;
    font-size: 3em;
}
.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}
.post > header {
    display: flex;
    align-items: flex-end;
    padding:0.75em;
    font-size: 1em;
}
.post > header > div:first-of-type {
    flex: auto;
}
.post > header h1 {
    font-size: 1.5em;
    margin: 0;
}
.post .about {
    padding:0.75em;
    color: darkslateblue;
    font-style: italic;
}
.post .body {
    padding: 0em 0em 0em 0.5em;
    white-space: pre-line;
}
.content:last-child {
    margin-bottom: 0;
}
.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}
.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.content input,
.content textarea {
    margin-bottom: 1em;
}
.content textarea {
    min-height: 12em;
    resize: vertical;
}
input.danger {
    color: #cc2f2e;
}
input[type="submit"] {
    color: darkslateblue;
    background-color:#a9f1df;
    border-color: transparent;
    border-radius: 5px;
    align-self:center;
    min-width: 10em;
    font-size: 1.5em;
    margin-top: 1em;
    padding: 0.25em;
}
